html {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  font-size: 1.25rem;
  margin: auto;
}

/* Lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Flex */
.flex {
  display: flex;
}
/* Flex */

footer {
  text-align: center;
  padding: 2rem;
  color: orange;
}
