html {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  font-size: 1.25rem;
  margin: auto;
}

/* Flex */
.flex {
  display: flex;
}
/* Flex */

footer {
  text-align: center;
  padding: 2rem;
  color: orange;
}
